<style>
    #table-fac th{
   height: 29px;
   padding: 2px 2px 2px 2px;
   text-align: center;
   
    }
    #table-fac td{
   text-align: center;
    }
    #table-fac .tiers{
      background-color: #114949;
      color:white;
    }
    #table-fac .tiers input{
      background-color: #114949;
      color:white;
    }
    
    .input_tab{
      border: 1px solid #eae2e2;
      padding: 0px 0px 0px 0px;
      margin:0px 0px 0px 0px;
      text-align: center;
      width: 50px;
    }
  </style>
  <script  type = "text/javascript">
  $(document).ready(function () {
  readAll();
  readAll2();
    });
  
  
  </script>
  
  </body>
  </html>
  